<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add room</title>
</head>
<body style="background-color: coral">
    <h1>Add room to base</h1>
    <form method="POST">
        {% csrf_token %}
        Name: <input type="text" name="name"><br><br>
        Capacity: <input type="number" min="1" step="1" name="capacity"><br><br>
        Projector: <input type="checkbox" name="projector"><br><br>
        <input type="submit" value="Add">
    </form><br><br>

    <h4>{{ message }}</h4><br><br>

    <a href="/">Go back to menu</a><br><br>
</body>

<footer style="font-size:12px">
    Strona wykonana przez: Krzysiek Kosior
</footer>
</html>